## Assignment 1
**Deadline**: 23rd September 2024

This assessment consists of 20 MongoDB queries, ranging from easy to hard. You are required to use the following sample data:

```json
{
    "students": [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]
}

```

Please submit your solutions by the given deadline.

In [2]:
student_data=[
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]

1. Insert the given sample data into a MongoDB collection called 'students'.

In [4]:
import pymongo
client=pymongo.MongoClient("mongodb://localhost:27017/")
database=client["School"]
collection=database["Students"]
collection.insert_many(student_data)

InsertManyResult([ObjectId('66eec07e556cfdbc8aea526d'), ObjectId('66eec07e556cfdbc8aea526e'), ObjectId('66eec07e556cfdbc8aea526f'), ObjectId('66eec07e556cfdbc8aea5270'), ObjectId('66eec07e556cfdbc8aea5271')], acknowledged=True)

2. Write a query to find all students who have a 'math_score' greater than 80.

In [6]:
query={"math_score":{"$gt":80}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526d'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eec07e556cfdbc8aea526f'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

3. Write a query to find students whose 'age' is less than 23.

In [7]:
query={"age":{"$lt":23}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526e'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eec07e556cfdbc8aea5270'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

4. Write a query to return only the 'name' and 'math_score' of all students.

In [10]:
for student in collection.find({},{"_id":0,"name":1,"math_score":1}):
    print(student)

{'name': 'Rohit', 'math_score': 85}
{'name': 'Eram', 'math_score': 78}
{'name': 'Madan', 'math_score': 95}
{'name': 'Uvaish', 'math_score': 60}
{'name': 'Neha', 'math_score': 72}

5. Write a query to find students from the city 'New York'.

In [11]:
query={"city":{"$eq":"New York"}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526d'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

6. Write a query to update the 'physics_score' of 'Neha' to 85.

In [13]:
collection.update_one({"name": "Neha"}, {"$set": {"physics_score": 85}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

7. Write a query to delete the student 'Uvaish' from the collection.

In [14]:
collection.delete_one({"name": "Uvaish"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

8. Write a query to find all students where 'math_score' is between 70 and 90 (inclusive).

In [15]:
query = {
    "$and": [
        {"math_score": {"$lte": 90}},
        {"math_score": {"$gte": 70}}
    ]
}

for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526d'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eec07e556cfdbc8aea526e'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eec07e556cfdbc8aea5271'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix'}

9. Write a query to find students whose 'math_score' is greater than 'physics_score'.

In [19]:
query={"$expr": {"$gt": ["$math_score", "$physics_score"]}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526e'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eec07e556cfdbc8aea526f'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

10. Write a query to return students sorted by 'math_score' in descending order.

In [29]:
pipeline=[
  {
    "$project": {
      "name": 1,          
      "math_score": 1,    
      "physics_score": 1  
    }
  },
  {
    "$sort": { "math_score": -1 }  
  }
]
for student in collection.aggregate(pipeline):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526f'), 'name': 'Madan', 'math_score': 95, 'physics_score': 88}
{'_id': ObjectId('66eec07e556cfdbc8aea526d'), 'name': 'Rohit', 'math_score': 85, 'physics_score': 90}
{'_id': ObjectId('66eec07e556cfdbc8aea526e'), 'name': 'Eram', 'math_score': 78, 'physics_score': 75}
{'_id': ObjectId('66eec07e556cfdbc8aea5271'), 'name': 'Neha', 'math_score': 72, 'physics_score': 85}

11. Write a query using the aggregation framework to calculate the average 'math_score' of all students.

In [37]:
pipeline=([
  {
    "$group": {  
    "_id": "null" ,              
      "averageMathScore": { "$avg": "$math_score" } 
    }
  }
])

for student in collection.aggregate(pipeline):
    print(student)

{'_id': 'null', 'averageMathScore': 82.5}

12. Write a query to group students by 'city' and count the number of students in each city.

In [39]:
pipeline = [
    {"$group": {"_id": "$city"}}
]
city_groups = collection.aggregate(pipeline)
for group in city_groups:
    print(group)

{'_id': 'New York'}
{'_id': 'Phoenix'}
{'_id': 'Los Angeles'}
{'_id': 'Chicago'}

13. Write a query to find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.

In [40]:
query = {
    "$or": [
        {"math_score": {"$gt": 80}},
        {"physics_score": {"$gt": 85}}
    ]
}

for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526d'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eec07e556cfdbc8aea526f'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

14. Write a query to find students whose age is exactly 23 and live in 'Phoenix'.

In [41]:
query = {
    "$and": [
        {"age": {"$eq": 23}},
        {"city": {"$eq": "Phoenix"}}
    ]
}

for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea5271'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix'}

15. Write a query to find students whose 'math_score' is not equal to 85.

In [42]:
query = {"math_score": {"$ne": 85}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526e'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eec07e556cfdbc8aea526f'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66eec07e556cfdbc8aea5271'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix'}

16. Write a query to find students whose 'name' starts with the letter 'A'.

In [46]:
query={"name": { "$regex": "/^A/", "$options": 'i' } }
       
for student in collection.find(query):
    print(student)

#There no student whom name starts with "A"

17. Write a query to find students whose 'city' is neither 'New York' nor 'Los Angeles'.

In [48]:
query = {"city": {"$nin": ["New York", "Los Angeles"]}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526f'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66eec07e556cfdbc8aea5271'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix'}

18. Write a query to update all students with 'age' greater than 22 to add a new field 'graduated': true.

In [50]:
collection.update_many({ "age": { "$gt": 22 } },{ "$set": { "graduated": True}})

UpdateResult({'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

19. Write a query to remove the 'physics_score' field for students who live in 'Chicago'.

In [52]:
collection.update_many({ "city": "Chicago" },{ "$unset": { "physics_score": "" }})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

20. Write a query to find the student with the highest 'math_score'.

In [53]:
pipeline=[{"$sort": { "math_score": -1 }},{"$limit": 1}]

for student in collection.aggregate(pipeline):
    print(student)

{'_id': ObjectId('66eec07e556cfdbc8aea526f'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}